<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AspNetDb" connectionString="Data Source=.\SQLEXPRESS;
             Initial Catalog=ScheduleDB;
             Integrated Security=true"/>
  </connectionStrings>

  <system.web>
    <authentication mode="Forms"></authentication>
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <add name="MySqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="AspNetDb"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             applicationName="WcfSecureService"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MySqlRoleProvider">
      <providers>
        <add name="MySqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="AspNetDb"
             applicationName="WcfSecureService"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>

